/* Container da seção */
.repositorio {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 1rem;
  box-sizing: border-box;
  height: 28vh;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #000000;      /* linha de contorno verde escura */

}

/* Cabeçalho */
.repositorio-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.repositorio-header h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #333333;
  margin-left: 1rem;
}

/* Lista de repositórios */
.repositorio-lista {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
  box-sizing: border-box;
  height: 15rem;
  overflow-y: auto;
}

/* Cada linha de repositório */
.repositorio-linha {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Ícone do repositório (sem borda) */
.repo-icon-out {
  width: 3.5rem;
  height: 3.5rem;
  flex-shrink: 0;
}

/* Item com borda (apenas no nome) */
.repositorio-item {
  border: 2px solid #000000;
  border-radius: 30px;
  width: 80%;
  background-color: #FBF8E0;
  padding: 0.4rem 0.8rem;
  font-size: 1.5rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

/* Nome do repositório */
.repositorio-item span {
  font-family: 'Quantico', sans-serif;
  font-size: 1.5rem;
  color: #333;
  word-break: break-word;
}

/* Scroll interno */
.repositorio-lista::-webkit-scrollbar {
  width: 6px;
}

.repositorio-lista::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.repositorio-lista::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.excluir-inline {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin-left: 0.5rem;
}

.excluir-inline:hover {
  transform: scale(1.2);
}


/* Responsividade */
@media (max-width: 480px) {
  .repositorio-linha {
    font-size: 1.3rem;
  }

  .repo-icon-out {
    width: 1.2rem;
    height: 1.2rem;
  }

  .repositorio-item {
    font-size: 1.3rem;
    padding: 0.3rem 0.6rem;
  }
}
